body{
    background-color: black;
    margin: auto;
    color: whitesmoke;
    margin-top: -36px;
    display: flex;
    justify-content: center;
}

/*.text {
    background-color: #000000;
    fill: #ffffff;
    padding: 10px;
  }
  
  .text:hover {
    background-color: #1c87c9;
    box-shadow: 0 0 10px #49e819;
  }*/
  #gameContainer {
    width: 800px;
    height: 1200px;
    position: relative;
    overflow: hidden;
  }
  
  #gameCanvas {
    position: absolute;
    top: 0;
    left: 0;
  }
  @media only screen and (min-width:600px){
    body {
      width: 370px;
    }
  }
  